* {
    font-family: Calibri;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 10px;
    width: 100%;
    background: rgba(199, 212, 208, 0.13);
}

#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: auto auto 80px;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer";
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px;
}

.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 10px;
  text-align: left;
}

.grid-item > input{
    width: 20px;
    height: 1em;
    margin: 0px;
    padding: 1px;
    /* border-radius: 3px; */
}

header {
    height: 50px;
    background: rgba(248, 246, 248, 0);
    grid-area: header;
    color: rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    border: 1px solid black;
    
}


main {
    grid-area: main;
}

footer {
    height: 50px;
    background: rgb(189, 179, 179);
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    height: 3em;
    margin: 5px;
}



input {
    width: calc(100% - 20px);
    height: 2em;
    margin: 5px;
    padding: 5px;
    border: 2px solid darkblue;
    border-radius: 3px;
}

button {
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(113, 114, 114);
    border-radius: 3px;
    background: rgb(154, 158, 158);
    color: rgb(37, 36, 36);
    font-weight: normal;
}

.button-red {
    background: #d4b4b4;
    border: 2px solid #1d1c1c;
    color: #5a3333;
}

.button-blue {
    background: #9cb4b4;
    border: 2px solid #171817;
    color: #5a3333;
}



#itemEditFormContainer {
    overflow-x: hidden;
    overflow-y: auto;
}

#errorBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #e60000;
    margin: 5px;
}

#errorBox div {
    flex: 1;
    background: #ffe6e6;
    border-top: 1px solid #e60000;
    padding: 5px;
}

#itemEditFabricUrl {
    margin: 5px;
    max-width: 30000px;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: calc(50% - 20px);
    background: rgb(246, 246, 248);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.item-fluid {
    flex-basis: calc(100% - 20px);
    background: rgb(246, 246, 248);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.item-100 {
    flex-basis: 100%;
}

.item-100-center {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-logo {
    height: 19px;
}

.item-50-bold {
    flex-basis: calc(50% - 5px);
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    border-top: 1px solid darkmagenta;
}

.item-50 {
    flex-basis: calc(50% - 5px);
    text-align: left;
    padding-left: 5px;
    border-top: 1px solid darkmagenta;
}

@media (max-width: 820px) {
    #wrapper {
        grid-template-columns: 10px auto 10px;
    }

    .item {
        flex-basis: 100%;
    }
}

table, th, td {
    border: 1px dotted black;
    padding: 2px;
    text-align: center;
    column-width: justify;
    /* border-collapse:collapse; */
        
}

thead {
    font-weight: bold;
}

img {
    max-width: 95px;
    display: inline-block;
    overflow: auto;
    height: auto;
    width: 100px



      }
    #fabricTable thead tr{
        display:block;
    }
    #fabricTable th, #fabricTable td{
        max-width: 100px;
        width:100px;
        
    }
    #fabricTable  tbody{
      display:block;
      max-height:600px;
      overflow:auto;
    }

    #fabricTable .narrow-table-cell {
        width: 50px;
        max-width:50px;   
    } 
      
    




    #sewingTable thead tr{
        display:block;
    }
    
    #sewingTable td{
        width: 100px;        
    }  

    #sewingTable .wide-table-cell {
        width: 220px;        
    }  

    #sewingTable .extra-wide-table-cell {
        width: 350px;        
    } 

    #sewingTable tbody{
      display:block;
      max-height:600px;
      overflow:auto;
    }