#backgroundCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popup {
    background: rgb(117, 174, 207);
    padding: 10px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    z-index: 2;
}


 .popup-400-300 {
    width: 400px;
    height: 300px;
}


.popup-700-800 {
    width: 700px;
    height: 800px;
}

#popupContent {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    background: rgba(255, 255, 255, 0.034);
}

#popupTopBar {
    display: flex;
    justify-content: flex-end;
}

#popupBody {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    
    .popup-400-300 {
        width: calc(100% - 40px);
    }

    .popup-700-800 {
        width: calc(100% - 40px);
    }
}
